@import "../config";

.mobile { 

    &-menu {
        cursor: pointer;
        height: 20px;
        position: fixed;
        left: 1rem;
        top: 1rem;
        width: 28px;
        z-index: 1;
        @include transition-ease;

        &_burger {
            background: set-text-color($primary-color);
            height: 2px;
            position: absolute;
            right: 0;
            top: 0.5rem;
            width: 28px;
            @include transition-ease;

            &::before {
                background: set-text-color($primary-color);
                content: '';
                height: 3px;
                position: absolute;
                top: -8px;
                width: 28px;
                @include transition-ease;
            }

            &::after {
                background: set-text-color($primary-color);
                content: '';
                height: 3px;
                position: absolute;
                top: 8px;
                width: 20px;
                @include transition-ease;
            }

            &.open {
                background: transparent;
                transform: rotate(-270deg);

                &::before {
                    transform: rotate(45deg) translate(5px, 8px);
                }

                &::after {
                    transform: rotate(-45deg) translate(3px, -7px);
                    width: 28px;
                }

            }

        }

    }

}