@import "../config";

.bg {
  position: fixed;
  
  .item {
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    background-position: center;
    background-size: cover;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    &.bg1 {
      background-image:
      linear-gradient(to right,
      rgba($primary-color, 0.1),
      rgba($primary-color, 0.3)),
      url('../images/self-desert-p1.jpg');
      background-size: cover;
      @include transition-ease-long;

      &.open {
        background: transparent;
        box-shadow: inset 0 0 0 1px $accent-color-one;
        @include transition-ease-long;
      }

    }

    &.bg2 {
      background-image:
      linear-gradient(to right,
      rgba($primary-color, 0.3),
      rgba($primary-color, 0.5)),
      url('../images/self-desert-p2.jpg');
      background-size: cover;
      cursor: pointer;
      @include transition-ease-extra-long;

      &.open {
        box-shadow: inset 0 0 0 1px $accent-color-one;
        cursor: default;
        opacity: 0.3;
        transform: translate(-100%);
        @include transition-ease-extra-long;

        h5 {
          transform: translate(-250%);
          @include transition-ease;
        }
      }

      &:hover {
        box-shadow: inset 0 0 0 1px $accent-color-one;
        @include transition-ease;
      }

      h5 {
        color: $primary-color;
        cursor: pointer;
        font-family: Orbitron, 'Times New Roman', Times, serif;
        font-size: 3rem;
        letter-spacing: 1rem;
        text-transform: uppercase;
        text-shadow: -1px 1px 5px set-text-color($primary-color);
        @include transition-ease-long;

        &:hover {
          color: $primary-color;
          text-shadow: -1px 1px 8px $accent-color-one;
          @include transition-ease-long;
        }
      }
    }

    &.bg3 {
      background-image:
      linear-gradient(to right,
      rgba($primary-color, 0.5),
      rgba($primary-color, 0.7)),
      url('../images/self-desert-p3.jpg');
      background-size: cover;
      @include transition-ease-long;

      &.open {
        opacity: 0.3;
        transform: translate(-100%);
        @include transition-ease-long;
      }

    }

    &.bg4 {
      background-image:
      linear-gradient(to right,
      rgba($primary-color, 0.7),
      rgba($primary-color, 0.9)),
      url('../images/self-desert-p4.jpg');
      background-size: cover;
      @include transition-ease-extra-long;

      &.open {
        opacity: 0.3;
        transform: translate(-100%);
        @include transition-ease-extra-long;
      }

    }

  }
  
}