@import "../config";

.header {
    display: flex;
    flex-direction: column;
    padding: 2vh 5vw;
    width: 100vw;

    .logo {
        font-size: 2.5rem;
        letter-spacing: -.4rem;

        &:hover {
            cursor: pointer;
        }

        .morning {
            color: $accent-color-one;

            .icon {
                color: $primary-color;
                text-shadow: -1px 0 10px $accent-color-one;
            }

        }

        .afternoon {
            color: $accent-color-two;

            .icon {
                color: $primary-color;
                text-shadow: -1px 0 10px $accent-color-two;
            }

        }

        .evening {
            color: $accent-color-three;

            .icon {
                color: $primary-color;
                text-shadow: -1px 0 10px $accent-color-three;
            }

        }

        &-lastname {
            letter-spacing: -.2rem;
            padding: 0 .1rem;
        }

    }

    .description {
        color: $muted-color;
        font-family: Orbitron, 'Courier New', Courier, monospace;
        letter-spacing: .1rem;
        padding: 0 3rem;
        text-decoration: underline;
    }

    .social {
        font-size: 2rem;
        padding: 1rem 0;

        .icon {
            color: $primary-color;
            padding: 0 1rem;
            text-shadow: 0 -1px 15px set-text-color($primary-color);
            @include transition-ease;

            &:hover {
                text-shadow: 0 0 8px $active-color;
                @include transition-ease;
            }

        }

    }

}