@import "../config";

.header {
    display: flex;
    flex-direction: row;

    &-icon {
        color: $primary-color;
        font-size: 5rem;
        padding: 1rem;
        text-shadow: -1px 3px 10px set-text-color($primary-color);
    }

}