@import "../config";

.mobileNav {
    background: $primary-color;
    box-shadow: 0 0 20px $active-color;
    font-size: 1.2rem;
    font-family: Orbitron, 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: 10vh 0 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: .98;
    visibility: hidden;
    transform: translate(100%);
    @include transition-ease;

    &.open {
        visibility: visible;
        transform: translate(0);
        @include transition-ease;
    }

    &-menu {
        align-items: center;
        display: flex;
        flex-direction: column;
        list-style: none;
        height: 100vh;
        overflow: hidden;
        @include transition-ease;

        &_item {
            padding: 2rem 0;
            @include transition-ease;

            &.link {
                color: $muted-color;
                text-decoration: none;
                @include transition-ease;

                &:hover {
                    letter-spacing: .4rem;
                    text-shadow: 0 0 10px $active-color;
                    @include transition-ease;
                }

                &-active {
                    color: set-text-color($primary-color);
                    letter-spacing: .4rem;
                    text-shadow: -5px 0 10px $active-color;
                    @include transition-ease;
                }

            }

        }

    }

}