@import "../config";

.contact {
    @include section-default;

    h1 {
        @include h1-default;
    }

    h2{
        @include h2-default;
    }

    h3{
        @include h3-default;
    }

    p{
        @include paragraph-default;
    }

    small{
        @include small-default;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 2rem 5rem;

        label {
            @include h3-default;
        }

        input, textarea {
            background: $primary-color;
            box-shadow: 0 0 2px set-text-color($primary-color);
            color: $active-color;
            margin: 1rem;
        }

        button {
            background: $primary-color;
            box-shadow: 0 0 2px set-text-color($primary-color);
            color: $active-color;
            cursor: pointer;
            font-family: Orbitron, 'Times New Roman', Times, serif;
            letter-spacing: .2rem;
            @include transition-ease;
            
            &:hover {
                box-shadow: 0 0 5px $active-color;
                letter-spacing: .4rem;
                @include transition-ease;
            }
        }
    }

}