@import "../config";

.logo {

    &-click {
        padding: 0 0 0 9rem;
    }

    &-name {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        letter-spacing: -.2rem;
        padding: 0 .5rem;

        .icon {
            cursor: pointer;
            position: fixed;
            @include transition-ease;
        }
    }

    &-description {
        color: $muted-color;
        font-family: Orbitron, 'Courier New', Courier, monospace;
        letter-spacing: .1rem;
        text-decoration: underline;
    }

}