@import "../config";

.nav {
    font-family: Gruppo, 'Segoe UI', Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .4rem;

    &-icon {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
    }

    &-active {
        color: $primary-color;
        text-shadow: 0 2px 5px $transition-color;
        @include transition-ease;

        &:hover {
            @include hover-text-shadow-animation-code;
            @include transition-ease;
        }
    }

    &-menu {
        list-style-type: none;
        padding: 1rem;
        text-align: center;

        &_item {
            padding: 1rem;

            &.link {
                color: $primary-color;
                text-decoration: none;
                text-shadow: -2px 2px 0 set-text-color($primary-color);
                text-transform: uppercase;

                &:hover {
                    @include hover-text-shadow-animation;
                }
            }

        }

    }

    .social {
        font-size: 1rem;
        text-align: center;

        .icon {
            color: set-text-color($primary-color);
            padding: 0 1rem;
            text-shadow: 0 2px 10px $accent-color;
            @include transition-ease;

            &:hover {
                color: $primary-color;
                text-shadow: 0 3px 8px $accent-color;
                @include transition-ease;
            }
        }
    }

}