@import "../config";

.about {
    @include section-default;

    h1 {
        @include h1-default;
    }

    h2 {
        @include h2-default;
    }

    h3 {
        @include h3-default;
    }

    p {
        @include paragraph-default;
    }

    small {
        @include small-default;
    }

    img {
        @include image-default;
    }

    .devIcons {
        font-size: 3rem;

        .icon {
            padding: 1rem;
            text-shadow: -1px 2px 0 $muted-color;

            &-js {
                color: #f7df1e;
            }
            &-html {
                color: #f06529;
            }
            &-css {
                color: #2965f1;
            }
            &-react {
                color: #7cc5d9;
            }
            &-database {
                color: #0064a5;
            }
            &-git {
                color: #f34f29;
            }

        }

    }

}