@import '../config';

.about {

    &-top {
        display: flex;

        img {
            border-bottom: 1px solid $muted-color;
            border-radius: 10px;
            margin: 5vh auto;
            max-width: 100%;
        }
    }

    &-bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .item {
            align-items: center;
            background-color: $primary-color;
            border: 3px solid $muted-color;
            border-radius: 5px;
            box-shadow: 0 0 3px $secondary-color;
            color: set-text-color($primary-color);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            letter-spacing: .4rem;
            padding: 1rem;
            text-align: center;
            width: 100%;

            p {
                padding: 1rem;
            }
    
            h3 {
                padding: 0 0 3vh;
                width: 100%;
            }
        }
    }

    .devIcons {
        @include devIcons-default-styling;
    }
}