@import "../config";

.about {
    letter-spacing: .2rem;
    margin: 5rem;
    text-align: center;
    width: 100vw;

    &-title {
        color: $primary-color;
        font-family: Orbitron, 'Courier New', Courier, monospace;
        letter-spacing: .3rem;
        text-align: start;
        text-shadow: 0 0 10px $active-color;
    }

    &-bio_title {
        border-bottom: 1px solid $muted-color;
        letter-spacing: .3rem;
        padding: 1rem;
    }

    img {
        width: 50%;
    }

    &-skills {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &_title {
            border-bottom: 1px solid $muted-color;
            color: $muted-color;
        }

        li {
            list-style: none;
        }

    }

}