@import "../config";

.nav {

    &-menu {
        list-style: none;

        &_item {
            padding: .5rem 0;

            &.link {
                color: set-text-color($primary-color);
                text-decoration: none;
            }

        }

    }

}