@import './config';

.morning {

    .homePage {
        h1 {
            border-bottom: 1px solid $accent-color-one;
        }
    }

    header {
        &.open {
            .logo {
                .devLogo {
                    h1 {
                        border-bottom: 1px solid $accent-color-one;

                        strong {
                            color: $accent-color-one;
                        }
                    }

                    i {
                        color: $accent-color-one;
                    }
                }
            }
            .social {
                a {
                    &:hover {
                        color: $accent-color-one;
                    }

                    &:active {
                        color: $accent-color-one;
                    }
                }
            }
        }
    }

    nav {
        .link-active {
            color: $accent-color-one;
        }
    }

    main {
        article {
            h1, h2, h3 {
                color: $accent-color-one;
            }
        }
    }

    footer {
        i {
            color: $accent-color-one;
        }
    }
}

.afternoon {

    .homePage {
        h1 {
            border-bottom: 1px solid $accent-color-two;
        }
    }

    header {
        &.open {
            .logo {
                .devLogo {
                    h1 {
                        border-bottom: 1px solid $accent-color-two;

                        strong {
                            color: $accent-color-two;
                        }
                    }

                    i {
                        color: $accent-color-two;
                    }
                }
            }
            .social {
                a {
                    &:hover {
                        color: $accent-color-two;
                    }

                    &:active {
                        color: $accent-color-two;
                    }
                }
            }
        }
    }

    nav {
        .link-active {
            color: $accent-color-two;
        }
    }

    main {
        article {
            h1, h2, h3 {
                color: $accent-color-two;
                @include transition-ease;
            }
        }
    }

    footer {
        i {
            color: $accent-color-two;
        }
    }
}

.evening {

    .homePage {
        h1 {
            border-bottom: 1px solid $accent-color-three;
        }
    }

    header {
        &.open {
            .logo {
                .devLogo {
                    h1 {
                        border-bottom: 1px solid $accent-color-three;

                        strong {
                            color: $accent-color-three;
                        }
                    }

                    i {
                        color: $accent-color-three;
                    }
                }
            }
            .social {
                a {
                    &:hover {
                        color: $accent-color-three;
                    }

                    &:active {
                        color: $accent-color-three;
                    }
                }
            }
        }
    }

    nav {
        .link-active {
            color: $accent-color-three;
        }
    }

    main {
        article {
            h1, h2, h3 {
                color: $accent-color-three;
                @include transition-ease;
            }
        }
    }

    footer {
        i {
            color: $accent-color-three;
        }
    }
}