$primary-color: #000000;
$secondary-color: #FDF7FA;
$accent-color-one: #DEBA6F;
$accent-color-two: #ACFCD9;
$accent-color-three: #7D70BA;
$active-color: #52DEE5;
$muted-color: #5D576B;

@mixin section-default {
    display: flex;
    flex-direction: column;
    letter-spacing: .22rem;
    margin: 5vh 15vw;
    text-align: center;
    width: 100vw;
}

@mixin h1-default {
    color: $primary-color;
    font-family: Orbitron, 'Courier New', Courier, monospace;
    letter-spacing: .3rem;
    text-shadow: 0 0 10px $active-color;
}

@mixin h2-default {
    border-bottom: 1px solid $active-color;
    font-family: Gruppo, 'Times New Roman', Times, serif;
    letter-spacing: .3rem;
    padding: 1rem;
}

@mixin h3-default {
    color: $active-color;
    border: 1px solid $muted-color;
    border-radius: 5px;
}

@mixin paragraph-default {
    padding: 0 0 2rem;
}

@mixin small-default {
    color: $muted-color;
    letter-spacing: .1rem;
}

@mixin image-default {
    margin: 2vh auto;
    width: 50%;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;    
}

@mixin hover-text-shadow-animation {
    animation-name: anim-hover-text-shadow;
    animation-duration: 6s;
    text-shadow: -1px 1px 3px $active-color;
}

@mixin media-mob {
    @media screen and (max-width: 750px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 750px) {
        @content;
    }
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return $primary-color;
    } @else {
        @return $secondary-color;
    }
}

@keyframes anim-hover-text-shadow {
    from {text-shadow: -1px 1px 2px $accent-color-one};
    to {text-shadow: -1px 1px 3px $active-color};
}