$primary-color: #000000;
$secondary-color: #FDF7FA;
$accent-color-one: #E6C79C;
$accent-color-two: #ACFCD9;
$accent-color-three: #7D70BA;
$muted-color: #5D576B;

@mixin transition-ease {
    transition: all 0.5s ease-in-out;    
}

@mixin transition-ease-long {
    transition: all 1s ease-in-out;    
}

@mixin transition-ease-extra-long {
    transition: all 1.5s ease-in-out;    
}

@mixin media-mobile {
    @media screen and (max-width: 1330px) {
        @content;
    }
}

@mixin media-desktop {
    @media screen and (min-width: 1330px) {
        @content;
    }
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return $primary-color;
    } @else {
        @return $secondary-color;
    }
}