@import "./config";

@include media-mobile {

    .homePage {
        visibility: hidden;
    }

    .dynbg {
        visibility: hidden;
    }
    
    section {
        background-image:
            linear-gradient(to right,
            rgba($primary-color, 0.5),
            rgba($primary-color, 0.8)),
            url('./images/self-desert-bw.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid $muted-color;
        overflow-x: hidden;

        header {
            padding: 5vh 0 0;

            .logo {
                grid-column: 1 / -1;

                .timeMessage {
                    font-size: 0;
                    opacity: 0;
                    visibility: hidden;
                }
            }

            .social {
                grid-column: 1 / -1;
                padding: 2vh 0 0;

                a {
                    margin: 2vh 7vw;
                }
            }
        }

        .mobile {
            visibility: visible;

            nav {
                background: $primary-color;
                font-size: 1.2rem;
                font-family: Orbitron, 'Courier New', Courier, monospace;
                font-weight: 600;
                height: 100%;
                left: 0;
                letter-spacing: .2rem;
                opacity: 0.9;
                position: fixed;
                top: 0;
                transform: translate(-100%);
                visibility: hidden;
                width: 100vw;
                @include transition-ease;

                &.open {
                    visibility: visible;
                    transform: translate(0);
                    @include transition-ease;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    margin: 10vh 5vw;
                    overflow: hidden;
                    width: 100%;
                    @include transition-ease;

                    li {
                        margin: 5vh 0;

                        a {
                            border-radius: 10px;
                            @include transition-ease;

                            &:hover {
                                padding: 0.5rem;
                            }
                        }

                        .link-active {
                            border-radius: 10px;
                            padding: 0.5rem;
                        }
                    }
                }
            }
        }

        .desktop {
            visibility: hidden;

            nav {
                height: 0;
                margin: 0;
                padding: 0;
                position: relative;
                visibility: hidden;
                width: 0;
            }
        }

        main {
            grid-column: 1 / -1;
            margin: 15vh 0 3vh;

            article {
                padding: 0 3vw 30vh;
                width: 100vw;

                &.about, &.projects, &.contact {
                    
                    h1 {
                        letter-spacing: 1rem;
                    }
                }

                .about {

                    &-body {
                        flex-direction: column;
                    }

                    &-left {
                        width: 100vw;
                    }

                    &-right {
                        width: 100vw;
                    }
                }

                .projects {

                    &-body {
                        flex-direction: column;
                    }

                    &-left {
                        width: 100vw;
                    }

                    &-right {
                        width: 100vw;
                    }
                }

                .links {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }
        }

        footer {
            height: 10vh;

            a {
                font-size: 0;
                visibility: hidden;
            }
        }
    }
}

@include media-medium {
    .homePage {
        visibility: hidden;
    }

    .dynbg {
        visibility: hidden;
    }
    
    section {
        background-image:
            linear-gradient(to right,
            rgba($primary-color, 0.5),
            rgba($primary-color, 0.8)),
            url('./images/self-desert-bw.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid $muted-color;

        header {
            padding: 5vh 0 0;

            .logo {
                grid-column: 1 / -1;

                .timeMessage {
                    font-size: 0;
                    opacity: 0;
                    visibility: hidden;
                }
            }

            .social {
                grid-column: 1 / -1;
                padding: 2vh 0 0;

                a {
                    margin: 2vh 10vw;
                }
            }
        }

        .mobile {
            visibility: visible;

            nav {
                background: $primary-color;
                font-size: 1.2rem;
                font-family: Orbitron, 'Courier New', Courier, monospace;
                font-weight: 600;
                height: 100%;
                left: 0;
                letter-spacing: .2rem;
                opacity: 0.9;
                position: fixed;
                top: 0;
                transform: translate(-100%);
                visibility: hidden;
                width: 33vw;
                @include transition-ease;

                &.open {
                    visibility: visible;
                    transform: translate(0);
                    @include transition-ease;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    margin: 10vh 5vw;
                    overflow: hidden;
                    width: 100%;
                    @include transition-ease;

                    li {
                        margin: 5vh 0;

                        a {
                            border-radius: 10px;
                            @include transition-ease;

                            &:hover {
                                padding: 0.5rem;
                            }
                        }

                        .link-active {
                            border-radius: 10px;
                            padding: 0.5rem;
                        }
                    }
                }
            }
        }

        .desktop {
            visibility: hidden;

            nav {
                height: 0;
                margin: 0;
                padding: 0;
                position: relative;
                visibility: hidden;
                width: 0;
            }
        }

        main {
            grid-column: 1 / -1;
            margin: 0 0 3vh;

            article {
                padding: 15vh 3vw 30vh;
                width: 100vw;

                &.about, &.projects, &.contact {
                    
                    h1 {
                        letter-spacing: 1rem;
                    }
                }

                .about {

                    &-body {
                        flex-direction: column;
                    }

                    &-left {
                        width: 100vw;
                    }

                    &-right {
                        width: 100vw;
                    }
                }

                .projects {

                    &-body {
                        flex-direction: column;
                    }

                    &-left {
                        width: 100vw;
                    }

                    &-right {
                        width: 100vw;
                    }
                }

                .links {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }
            }
        }

        footer {
            height: 10vh;

            a {
                font-size: 0;
                visibility: hidden;
            }
        }
    }
}

@include media-desktop {

    .homePage {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 65vh;
        opacity: 1;
        position: fixed;
        text-transform: capitalize;
        text-align: center;
        visibility: visible;
        width: 100vw;
        @include devIcons-default-styling;
        @include transition-ease;

        .icon {
            font-size: 4rem;
            margin: 1rem;
        }

        &.open {
            opacity: 0;
            @include transition-ease;
        }

        h1 {
            font-family: Orbitron, 'Courier New', Courier, monospace;
            font-weight: 600;
            letter-spacing: .7rem;
            font-size: 2.5rem;
            margin: .5rem;
            padding: 1rem;
        }

        h2 {
            font-family: Orbitron, 'Courier New', Courier, monospace;
            font-weight: 600;
            letter-spacing: .5rem;
            font-size: 2rem;
            padding: 1rem;
            margin: .5rem;
        }

        .enterSite {
            display: flex;
            justify-content: center;
            width: 100%;

            p {
                border-radius: 15px;
                background: $primary-color;
                box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
                color: $muted-color;
                cursor: pointer;
                font-size: 2rem;
                letter-spacing: 0.2rem;
                padding: 1rem;
                width: 25vw;
                @include transition-ease;

                &:hover {
                    color: set-text-color($primary-color);
                    opacity: 0.9;
                }
            }
        }
    }

    .dynbg {
        visibility: visible;
        
        .bg {
            display: flex;
            height: 100vh;
            width: 100vw;
        }
    }

    section {
        grid-template-columns: auto 1fr auto;

        header {
            padding: .5vh 0;

            .logo {
                grid-column: 1 / 1;
                width: 25vw;

                .devLogo {

                    .siteTitle {
                        color: $primary-color;
                        font-size: 0;
                        opacity: 1;
                    }

                    i {
                        color: $muted-color;
                        transform: translate(-350%);
                    }

                    .timeMessage {
                        color: $muted-color;
                        cursor: pointer;
                        font-family: Orbitron, 'Courier New', Courier, monospace;
                        letter-spacing: .3rem;
                        position: fixed;
                    }

                }
            }

            .social {
                grid-column: 3 / -1;
                width: 25vw;

                a {
                    margin: 0 2vw;
                }
            }

            &.open {
                padding: 2vh 0;
                @include transition-ease;

                .logo {
                    grid-column: 1 / 1;

                    .devLogo {

                        .siteTitle {
                            color: set-text-color($primary-color);
                            font-size: inherit;
                            opacity: 1;
                            @include transition-ease-delay-four;
                        }

                        i {
                            transform: translateX(0);
                            @include transition-ease-delay-three;
                        }

                        .timeMessage {
                            color: $primary-color;
                            font-size: 0;
                            opacity: 0;
                            @include transition-ease-delay-three;
                        }
                    }
                }
            }

        }

        .mobile {
            visibility: hidden;

            nav {
                height: 0;
                margin: 0;
                padding: 0;
                position: relative;
                visibility: hidden;
                width: 0;
            }
        }

        .desktop {

            nav {
                color: $primary-color;
                opacity: 0;
            }

            &.open {

                nav {
                    color: set-text-color($primary-color);
                    grid-column: 1 / 1;
                    grid-row: 2 / 2;
                    height: 100vh;
                    opacity: 1;
                    padding: 5vh 1vw 0;
                    position: fixed;
                    width: 25vw;
                    @include transition-ease-delay-four;

                    ul {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        font-family: Orbitron, 'Courier New', Courier, monospace;
                        font-weight: 600;
                        height: 100%;
                        letter-spacing: .2rem;
                        padding: 5vh 0 0;
                        width: 100%;

                        li {
                            background-color: $m-c-1;
                            border-radius: 10px;
                            margin: 1.5rem;
                            width: 50%;

                            a {
                                align-items: center;
                                border-radius: 10px;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                padding: 0.5rem;
                                text-align: center;
                                width: 100%;
                                @include transition-ease;

                                i {
                                    color: $primary-color;
                                    opacity: 0;
                                    @include transition-ease;
                                }
                            }

                            .link-active {
                                letter-spacing: .4rem;
                                @include transition-ease;

                                i {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

            }
        }

        main {
            color: $primary-color;
            height: 0;
            margin: 0 25vw;
            opacity: 0;
            visibility: hidden;

            p {
                opacity: 0;
            }

            article {
                color: $primary-color;
                font-size: .1rem;
                height: 0;
                letter-spacing: .7rem;
                opacity: 0;
                visibility: hidden;
                width: 50vw;
                @include transition-ease;
            }

            &.open {
                color: set-text-color($primary-color);
                grid-column: 2 / 2;
                height: inherit;
                opacity: 1;
                visibility: visible;
                @include transition-ease-delay-four;

                p {
                    opacity: 1;
                    @include transition-ease-delay-four;
                }

                article {
                    color: set-text-color($primary-color);
                    font-size: 1rem;
                    height: inherit;
                    letter-spacing: .2rem;
                    opacity: 1;
                    padding: 10vh 3vw 15vh;
                    position: relative;
                    visibility: visible;
                    @include transition-ease;

                    &.about, &.projects, &.contact {

                        h1 {
                            letter-spacing: 2.5rem;
                            font-size: 2rem;
                        }

                        .links {
                            align-items: center;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            width: 100vw;
                        }
                    }
                }
            }
        }

        footer {
            height: 7vh;

            a {
                font-size: 0;
                opacity: 0;
            }

            &.open {
                height: 10vh;
                @include transition-ease;

                a {
                    font-size: inherit;
                    opacity: 1;
                    @include transition-ease-delay-three;
                }
            }
        }
    }

    &.morning {
        .homePage {
            .enterSite {
                p {
                    &:hover {
                        box-shadow: inset 0 0 0 5px $accent-color-one;
                        @include transition-ease;
                    }
                }
            }
        }
    }

    &.afternoon {
        .homePage {
            .enterSite {
                p {
                    &:hover {
                        box-shadow: inset 0 0 0 5px $accent-color-two;
                    }
                }
            }
        }
    }

    &.evening {
        .homePage {
            .enterSite {
                p {
                    &:hover {
                        box-shadow: inset 0 0 0 5px $accent-color-three;
                        @include transition-ease;
                    }
                }
            }
        }
    }
}