@import "./config";

@include media-mob {

    .layout {

        .item1 {
            header {
                height: 25vh;
            }
        }

        .item2 {
            width: 0;

            .mobile {
                visibility: visible;
            }

            .desktop {
                position: unset;
                visibility: hidden;
            }

        }

        .item3 {
            padding: 5vh 0;
        }

        h1{
            text-align: center;
        }

    }

}

@include media-md {

    .layout {

        .item2 {

            .mobile {
                visibility: hidden;
            }

            .desktop {
                left: 0;
                top: 15vh;
                position: fixed;
                visibility: visible;
            }

        }

        h1{
            text-align: end;
        }

    }

}