@import "./config";

@include media-mob {

    .layout {

        &-item {

            &.item3 {
                visibility: visible;
            }

            &.item4 {
                visibility: hidden;
                width: 0vw;
            }

            &.item5 {
                grid-column: 1 / -1;
            }

        }

        .header{
            text-align: center;

            .social{
                text-align: center;
            }
            
        }

        h1{
            text-align: center;
        }

    }

}

@include media-md {

    .layout {

        &-item {

            &.item3 {
                visibility: hidden;
            }

            &.item4 {
                grid-column: 1 / 2;
                visibility: visible;
            }

            &.item5 {
                grid-column: 2 / -1;
            }

        }

        .header{

            .social{
                text-align: end;
            }
        }

        h1{
            text-align: end;
        }

    }

}