@import "./config";

html {
  background: $primary-color;
  box-sizing: border-box;
  color: set-text-color($secondary-color);
  font-family: Gruppo, 'Courier New', Courier, monospace, sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

*:before,
*:after {
  box-sizing: inherit;
}

.layout {
  display: grid;
  height: 98vh;
  grid-gap: .5rem;
  grid-template-columns: auto repeat(1, 1fr);
  grid-template-rows: auto 1fr auto;

  &-item {
  align-items: center;
  background: $primary-color;
  box-shadow: inset 0 0 0 .4rem rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;

    &.item1 {
      background: linear-gradient(to right,
      rgba($primary-color, 0),
      rgba($primary-color, 0.2)),
      url('./images/space-wallpaper-bw.jpg');
      background-position: top;
      background-size: cover;
      grid-column: 1 / -1;
      justify-content: flex-end;
    }

    &.item2 {
      box-shadow: unset;
      grid-column: 1 / -1;
      grid-row: -1;
    }

    &.item3 {
      background: linear-gradient(to right,
      rgba($primary-color, 0.1),
      rgba($primary-color, 0.9)),
      url('./images/geometric-wallpaper-1.png');
      background-position:center;
      background-size: cover;
      grid-column: 1 / 2;
    }

    &.item4 {
      background: linear-gradient(to right,
      rgba($primary-color, 0.1),
      rgba($primary-color, 0.8)),
      url('./images/space-wallpaper-bw.jpg');
      background-size: cover;
      margin: 2rem;
      position: absolute;
    }

    &.item5 {
      background: linear-gradient(to right,
      rgba($primary-color, 0.1),
      rgba($primary-color, 1.0)),
      url('./images/space-wallpaper-bw.jpg');
      background-position: center;
      background-size: cover;
      grid-column: 2 / -1;
      grid-row: 2 / 2;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 10vh 1vw 5vh;
    }

  }

}
