.morning header.open .logo .devLogo .siteTitle {
  border-bottom: 1px solid #E6C79C;
}

.morning header.open .logo .devLogo i {
  color: #E6C79C;
}

.morning header.open .social a:hover {
  color: #000000;
  text-shadow: 0 0 15px #E6C79C;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.morning header.open .social a:active {
  color: #000000;
  text-shadow: 0 0 15px #E6C79C;
}

.morning nav .link-active {
  color: #E6C79C;
}

.morning main article h1, .morning main article h2, .morning main article h3 {
  color: #E6C79C;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.morning footer i {
  color: #E6C79C;
}

.afternoon header.open .logo .devLogo .siteTitle {
  border-bottom: 1px solid #ACFCD9;
}

.afternoon header.open .logo .devLogo i {
  color: #ACFCD9;
}

.afternoon header.open .social a:hover {
  color: #000000;
  text-shadow: 0 0 15px #ACFCD9;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.afternoon header.open .social a:active {
  color: #000000;
  text-shadow: 0 0 15px #ACFCD9;
}

.afternoon nav .link-active {
  color: #ACFCD9;
}

.afternoon main article h1, .afternoon main article h2, .afternoon main article h3 {
  color: #ACFCD9;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.afternoon footer i {
  color: #ACFCD9;
}

.evening header.open .logo .devLogo .siteTitle {
  border-bottom: 1px solid #7D70BA;
}

.evening header.open .logo .devLogo i {
  color: #7D70BA;
}

.evening header.open .social a:hover {
  color: #000000;
  text-shadow: 0 0 15px #7D70BA;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.evening header.open .social a:active {
  color: #000000;
  text-shadow: 0 0 15px #7D70BA;
}

.evening nav .link-active {
  color: #7D70BA;
}

.evening main article h1, .evening main article h2, .evening main article h3 {
  color: #7D70BA;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.evening footer i {
  color: #7D70BA;
}

@media screen and (max-width: 1330px) {
  .dynbg {
    visibility: hidden;
  }
  section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8))), url("./images/self-desert-bw.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("./images/self-desert-bw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  section header .logo {
    grid-column: 1 / -1;
  }
  section header .logo i {
    margin: 2vh 0 0 1vw;
  }
  section header .social {
    grid-column: 1 / -1;
    margin: 2vh 0;
  }
  section .mobile {
    visibility: visible;
  }
  section .mobile nav {
    background: #000000;
    font-size: 1.2rem;
    font-family: Orbitron, 'Courier New', Courier, monospace;
    font-weight: 600;
    height: 100%;
    left: 0;
    letter-spacing: .2rem;
    position: fixed;
    top: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    visibility: hidden;
    width: 80vw;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  section .mobile nav.open {
    visibility: visible;
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  section .mobile nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  section .mobile nav ul li {
    margin: 2.5rem;
  }
  section .desktop {
    visibility: hidden;
  }
  section .desktop nav {
    height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    visibility: hidden;
    width: 0;
  }
  section main {
    grid-column: 1 / -1;
  }
  section main article {
    margin: 33vh 0 15vh;
    width: 100vw;
  }
  section main article.projects .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section main article.projects .links a {
    background-color: #000000;
    border: 3px outset #5D576B;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    width: 50vw;
  }
  section main article.projects .links a i {
    font-size: 1.7rem;
    padding: .5rem;
  }
  section footer {
    margin: 85vh 0 0 0;
  }
}

@media screen and (min-width: 1330px) {
  .dynbg {
    visibility: visible;
  }
  .dynbg .bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  section {
    -ms-grid-columns: auto 1fr auto;
        grid-template-columns: auto 1fr auto;
  }
  section header {
    bottom: 0;
    height: 12vh;
    -webkit-transform: translateY(-38%);
            transform: translateY(-38%);
    width: 100vw;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  section header.open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  section header.open .logo {
    -ms-grid-column: 1;
    grid-column: 1 / 1;
    width: 25vw;
  }
  section header.open .logo .devLogo .siteTitle {
    color: #FDF7FA;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  section header.open .logo .devLogo i {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  section header.open .social {
    grid-column: 3 / -1;
    width: 25vw;
  }
  section header .logo {
    -ms-grid-column: 1;
    grid-column: 1 / 1;
    width: 25vw;
  }
  section header .logo .devLogo .siteTitle {
    color: #000000;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  section header .logo .devLogo i {
    margin: 1.2vh 0 0 1.5vw;
    padding: 5vh 0 0;
    -webkit-transform: translateX(-350%);
            transform: translateX(-350%);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  section header .social {
    grid-column: 3 / -1;
    width: 25vw;
  }
  section .mobile {
    visibility: hidden;
  }
  section .mobile nav {
    height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    visibility: hidden;
    width: 0;
  }
  section .desktop nav {
    color: #000000;
    position: fixed;
    visibility: hidden;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  section .desktop.open nav {
    color: #FDF7FA;
    -ms-grid-column: 1;
    grid-column: 1 / 1;
    -ms-grid-row: 2;
    grid-row: 2 / 2;
    margin: 30vh 0 0 0;
    visibility: visible;
    width: 25vw;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  section .desktop.open nav ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Orbitron, 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: .2rem;
    width: 100%;
  }
  section .desktop.open nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
  section main {
    color: #000000;
    height: 0;
    visibility: hidden;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  section main article {
    color: #000000;
    font-size: .1rem;
    letter-spacing: .7rem;
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
    -webkit-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
  }
  section main.open {
    color: #FDF7FA;
    -ms-grid-column: 2;
    grid-column: 2 / 2;
    height: inherit;
    margin: 13vh 0 0 25vw;
    position: relative;
    visibility: visible;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  section main.open article {
    color: #FDF7FA;
    font-size: 1rem;
    letter-spacing: .2rem;
    -webkit-transform: translate(0);
            transform: translate(0);
    width: 50vw;
    -webkit-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
  }
  section main.open article.projects .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section main.open article.projects .links a {
    background-color: #000000;
    border: 3px outset #5D576B;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    width: 15vw;
  }
  section main.open article.projects .links a i {
    font-size: 1.7rem;
    padding: .5rem;
  }
  section footer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 89vh 0 0 0;
    -webkit-transform: translateY(38%);
            transform: translateY(38%);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  section footer.open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .morning .dynbg .bg .item.bg2.open {
    -webkit-box-shadow: inset 0 0 0 5px #E6C79C;
            box-shadow: inset 0 0 0 5px #E6C79C;
  }
  .morning .dynbg .bg .item.bg2:hover {
    -webkit-box-shadow: inset 0 0 0 5px #E6C79C;
            box-shadow: inset 0 0 0 5px #E6C79C;
  }
  .morning .dynbg .bg .item.bg2 h5:hover {
    text-shadow: -1px 1px 8px #E6C79C;
  }
  .afternoon .dynbg .bg .item.bg2.open {
    -webkit-box-shadow: inset 0 0 0 5px #ACFCD9;
            box-shadow: inset 0 0 0 5px #ACFCD9;
  }
  .afternoon .dynbg .bg .item.bg2:hover {
    -webkit-box-shadow: inset 0 0 0 5px #ACFCD9;
            box-shadow: inset 0 0 0 5px #ACFCD9;
  }
  .afternoon .dynbg .bg .item.bg2 h5:hover {
    text-shadow: -1px 1px 8px #ACFCD9;
  }
  .evening .dynbg .bg .item.bg2.open {
    -webkit-box-shadow: inset 0 0 0 5px #7D70BA;
            box-shadow: inset 0 0 0 5px #7D70BA;
  }
  .evening .dynbg .bg .item.bg2:hover {
    -webkit-box-shadow: inset 0 0 0 5px #7D70BA;
            box-shadow: inset 0 0 0 5px #7D70BA;
  }
  .evening .dynbg .bg .item.bg2 h5:hover {
    text-shadow: -1px 1px 8px #7D70BA;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #FDF7FA;
  font-family: Quicksand, 'Courier New', Courier, monospace, sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100vw;
}

section header {
  background-color: #000000;
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}

section header .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section header .logo .devLogo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section header .logo .devLogo strong {
  letter-spacing: -.1rem;
}

section header .logo .devLogo .siteTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
}

section header .logo .devLogo .siteTitle small {
  margin: -1.2rem 0;
}

section header .logo i {
  cursor: pointer;
  font-size: 2rem;
}

section header .social {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section header .social a {
  font-size: 1.7rem;
  margin: 0 1rem;
  padding: 1rem .5rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

section nav a:hover {
  opacity: 0.9;
}

section nav .link-active {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

section main {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
}

section main article {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5vh 3rem 20vh;
  text-align: center;
}

section main article.about img, section main article.projects img, section main article.contact img {
  border-radius: 10px;
  margin: 5vh auto;
  max-width: 100%;
}

section main article.contact .item {
  margin: 5vh 0;
}

section main article.contact .item a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px outset #5D576B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  text-align: center;
}

section main article.contact .item a i {
  font-size: 3rem;
  padding: 1rem;
}

section main article.about, section main article.projects, section main article.contact {
  letter-spacing: .3rem;
}

section main article.about h1, section main article.projects h1, section main article.contact h1 {
  border-bottom: 1px solid #FDF7FA;
  margin: 0 0 5vh 0;
  text-transform: uppercase;
  width: 100%;
}

section main article.about small, section main article.projects small, section main article.contact small {
  color: #5D576B;
}

section main article.about h2, section main article.projects h2, section main article.contact h2 {
  border-bottom: 1px solid #5D576B;
  color: #FDF7FA;
  padding: 10vh 0 1rem;
  width: 100%;
}

section main article.about h3, section main article.projects h3, section main article.contact h3 {
  border-bottom: 1px solid #5D576B;
  font-size: 1rem;
  padding: 5rem 0 2rem;
}

section main article.about p, section main article.projects p, section main article.contact p {
  margin: 2rem 0;
}

section main article h1, section main article h2, section main article h3 {
  font-size: 1.2rem;
  font-family: Orbitron, 'Courier New', Courier, monospace;
  font-weight: 600;
  letter-spacing: .5rem;
  padding: 1rem;
}

section main article form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5vh 0 0;
}

section main article form label {
  font-weight: 600;
  letter-spacing: .2rem;
  margin: 1rem;
}

section main article form input {
  background-color: #000000;
  border-radius: 5px;
  color: #FDF7FA;
  -webkit-box-shadow: 0 0 15px #FDF7FA;
          box-shadow: 0 0 15px #FDF7FA;
}

section main article form textarea {
  background-color: #000000;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px #FDF7FA;
          box-shadow: 0 0 15px #FDF7FA;
  color: #FDF7FA;
}

section main article form button {
  background-color: #000000;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #FDF7FA;
          box-shadow: 0 0 10px #FDF7FA;
  color: #FDF7FA;
  cursor: pointer;
  font-family: Orbitron, 'Courier New', Courier, monospace;
  letter-spacing: .2rem;
  margin: 2rem auto;
  padding: .4rem;
}

section footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  letter-spacing: .15rem;
  height: 15vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

section footer i {
  margin: .5rem .8rem;
}

.devIcons {
  font-size: 3rem;
}

.devIcons .icon {
  margin: 2rem 0;
  padding: 1rem;
  text-shadow: -1px 2px 0 #5D576B;
}

.devIcons .icon-js {
  color: #f7df1e;
}

.devIcons .icon-react {
  color: #7cc5d9;
}

.devIcons .icon-html {
  color: #f06529;
}

.devIcons .icon-css {
  color: #2965f1;
}

.devIcons .icon-sass {
  color: #cd6799;
}

.devIcons .icon-node {
  color: #68a063;
}

.devIcons .icon-npm {
  color: #cc3534;
}

.devIcons .icon-git {
  color: #f34f29;
}
/*# sourceMappingURL=index.css.map */