@import './config';
@import './accents';
@import './responsive';

* {
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    color: set-text-color($primary-color);
    font-family: Quicksand, 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: 100vw;

    header {
        align-items: center;
        background-color: $primary-color;
        display: grid;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        grid-template-columns: auto 1fr auto;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;
        width: 100vw;

        .logo {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;

            .devLogo {
                display: flex;
                flex-direction: row;

                .siteTitle {
                    cursor: pointer;

                    h1 {
                        margin: 0;
                    }
                }

                .landingTitle {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    text-align: center;
                }
            }

            i {
                cursor: pointer;
                font-size: 2rem;
            }
        }

        .social {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 100%;
            justify-content: center;
            text-align: center;

            i {
                font-size: 1.8rem;
                @include transition-ease-long;
            }
        }
    }

    nav {

        a {
            &:hover {
                opacity: 0.9;
            }
        }
        .link-active {
            @include transition-ease;
        }
    }

    main {
        display: grid;
        grid-row: 2 / 2;
        grid-template-columns: auto 1fr auto;

        article {
            align-items: center;
            display: flex;
            flex-direction: column;
            grid-column: 2 / 3;
            justify-content: flex-start;
            letter-spacing: .3rem;
            padding: 15vh 3vw 30vh;
            text-align: center;

                img {
                    background-color: $primary-color;
                    border: 1px solid $muted-color;
                    border-radius: 10px;
                    margin: 5vh auto;
                    max-width: 100%;
                }

                h1 {
                    border-bottom: 1px solid set-text-color($primary-color);
                    text-transform: uppercase;
                    width: 100%;
                }

                small {
                    color: $muted-color;
                }

                h2 {
                    border-bottom: 1px solid $muted-color;
                    color: set-text-color($primary-color);
                    width: 100%;
                }

                h3 {
                    border-bottom: 1px solid $muted-color;
                    font-size: 1rem;
                }

                &.home {
                    h1, h2, h3 {
                        border-bottom: unset;
                    }
                }

                &.about, &.projects, &.contact {
                    h1 {
                        font-size: 1.5rem;
                        letter-spacing: 1rem;
                        padding: 0 0 10vh;
                    }

                    h2 {
                        padding: 5vh 0 0;
                    }

                    .item {
                    align-items: center;
                    background-color: $primary-color;
                    border: 3px solid $muted-color;
                    border-radius: 5px;
                    box-shadow: 0 0 3px $secondary-color;
                    color: set-text-color($primary-color);
                    display: flex;
                    flex-direction: column;
                    font-family: Orbitron, 'Courier New', Courier, monospace;
                    justify-content: center;
                    letter-spacing: .4rem;
                    margin: 5vh 0;
                    padding: 1vh 0 5vh;
                    text-align: center;
                    width: 100%;

                    h3 {
                        padding: 0 0 3vh;
                        width: 100%;
                    }
                    }
                }

                .project {
                    align-items: center;
                    background-color: $primary-color;
                    border: 3px solid $muted-color;
                    border-radius: 5px;
                    box-shadow: 0 0 3px $secondary-color;
                    color: set-text-color($primary-color);
                    display: flex;
                    flex-direction: column;
                    font-family: Orbitron, 'Courier New', Courier, monospace;
                    justify-content: center;
                    letter-spacing: .2rem;
                    margin: 5vh 0;
                    padding: 3rem;
                    text-align: center;
                    width: 100%;

                    button {
                        width: 100%;
                    }

                    img {
                        opacity: 0.9;
                    }
                }

            h1, h2, h3 {
                font-size: 1.2rem;
                font-family: Orbitron, 'Courier New', Courier, monospace;
                font-weight: 600;
                letter-spacing: .5rem;
            }

            button {
                align-items: center;
                background-color: $primary-color;
                border: 3px solid $muted-color;
                border-radius: 5px;
                box-shadow: 0 0 3px $secondary-color;
                color: set-text-color($primary-color);
                cursor: pointer;
                display: flex;
                flex-direction: column;
                font-family: Orbitron, 'Courier New', Courier, monospace;
                justify-content: center;
                letter-spacing: .2rem;
                margin: 5vh 0;
                padding: 1rem;
                text-align: center;

                i {
                    font-size: 2rem;
                }

                &:hover {
                    opacity: 0.9;
                }
            }

            form {
                align-items: center;
                background-color: $primary-color;
                border: 3px solid $muted-color;
                border-radius: 5px;
                box-shadow: 0 0 3px $secondary-color;
                color: set-text-color($primary-color);
                cursor: pointer;
                display: flex;
                flex-direction: column;
                font-family: Orbitron, 'Courier New', Courier, monospace;
                justify-content: center;
                letter-spacing: .2rem;
                margin: 5vh 0;
                padding: 1rem;
                text-align: center;
                width: 100%;

                label {
                    font-weight: 600;
                    letter-spacing: .2rem;
                    padding: 1rem;
                }

                input {
                    background-color: $primary-color;
                    border: 1px solid $muted-color;
                    border-radius: 1px;
                    color: set-text-color($primary-color);
                    box-shadow: 0 0 3px $secondary-color;
                    width: 80%;
                }

                textarea {
                    background-color: $primary-color;
                    border: 1px solid $muted-color;
                    border-radius: 1px;
                    box-shadow: 0 0 3px $secondary-color;
                    color: set-text-color($primary-color);
                    width: 80%;
                }
            }
        }
    }

    footer {
        align-items: center;
        background: $primary-color;
        display: flex;
        flex-direction: column;
        grid-column: 1 / -1;
        grid-row: 3 / -1;
        letter-spacing: .15rem;
        right: 0;
        bottom: 0;
        left: 0;
        position: fixed;
        text-align: center;
        width: 100%;

        a {
            margin: 0 1vw;
        }
    }
}

.devIcons {
  font-size: 3rem;
  margin: 5vh 0;

    .icon {
        margin: 0 .5vw;
        text-shadow: -1px 2px 0 $muted-color;

        &-js {
            color: #f7df1e;
    }
        &-react {
            color: #7cc5d9;
    }
        &-html {
            color: #f06529;
    }
        &-css {
            color: #2965f1;
    }
        &-sass {
            color: #cd6799;
    }
        &-node {
            color: #68a063;
        }
        &-npm {
            color: #cc3534;
        }
        &-git {
          color: #f34f29;
    }

  }

}