@import './config';
@import './accents';
@import './responsive';

* {
    box-sizing: border-box;
}

body {
  background-color: $primary-color;
  color: set-text-color($primary-color);
  font-family: Quicksand, 'Courier New', Courier, monospace, sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: 100vw;

    header {
        background-color: $primary-color;
        display: grid;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        grid-template-columns: auto 1fr auto;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;

        .logo {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;

            .devLogo {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: center;

                strong {
                    letter-spacing: -.1rem;
                }

                .siteTitle {
                    display: flex;
                    flex-direction: column;
                    text-align: end;

                    small {
                        margin: -1.2rem 0;
                    }
                }
            }

            i {
                cursor: pointer;
                font-size: 2rem;
            }
        }

        .social {
            align-items: flex-end;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            a {
                font-size: 1.7rem;
                margin: 0 1rem;
                padding: 1rem .5rem;
                @include transition-ease-long;
            }
        }
    }

    nav {

        a {
            &:hover {
                opacity: 0.9;
            }
        }
        .link-active {
            @include transition-ease;
        }
    }

    main {
        display: grid;
        grid-row: 2 / 2;
        grid-template-columns: auto 1fr auto;

        article {
            align-items: center;
            display: flex;
            flex-direction: column;
            grid-column: 2 / 3;
            justify-content: flex-start;
            padding: 5vh 3.5rem 20vh;
            text-align: center;

            &.about, &.projects, &.contact {
                letter-spacing: .3rem;
                h1 {
                    border-bottom: 1px solid set-text-color($primary-color);
                    margin: 0 0 10vh 0;
                    text-transform: uppercase;
                    width: 100%;
                }

                small {
                    color: $muted-color;
                }

                h2 {
                    border-bottom: 1px solid $muted-color;
                    color: set-text-color($primary-color);
                    padding: 5rem 0 1rem;
                    width: 100%;
                }

                h3 {
                    border-bottom: 1px solid $muted-color;
                    font-size: 1rem;
                    padding: 5rem 0 2rem;
                }

                p {
                    margin: 2rem 0;
                }
            }

            h1, h2, h3 {
                font-size: 1.2rem;
                font-family: Orbitron, 'Courier New', Courier, monospace;
                font-weight: 600;
                letter-spacing: .5rem;
                padding: 1rem;
            }

            img {
                margin: 5vh auto;
                max-width: 50%;
            }

            form {
                display: flex;
                flex-direction: column;
                padding: 5vh 0 0;

                label {
                    font-weight: 600;
                    letter-spacing: .2rem;
                    margin: 1rem;
                }

                input {
                    background-color: $primary-color;
                    border-radius: 5px;
                    color: set-text-color($primary-color);
                    box-shadow: 0 0 15px $secondary-color;
                }

                textarea {
                    background-color: $primary-color;
                    border-radius: 5px;
                    box-shadow: 0 0 15px $secondary-color;
                    color: set-text-color($primary-color);
                }

                button {
                    background-color: $primary-color;
                    border-radius: 10px;
                    box-shadow: 0 0 10px $secondary-color;
                    color: set-text-color($primary-color);
                    cursor: pointer;
                    font-family: Orbitron, 'Courier New', Courier, monospace;
                    letter-spacing: .2rem;
                    margin: 2rem auto;
                    padding: .4rem;
                }
            }
        }
    }

    footer {
        align-items: center;
        background: $primary-color;
        display: flex;
        flex-direction: column;
        grid-column: 1 / -1;
        grid-row: 3 / -1;
        letter-spacing: .15rem;
        height: 15vh;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: fixed;
        width: 100%;

        i {
            margin: .5rem .8rem;
        }
    }
}

.devIcons {
  font-size: 3rem;

  .icon {
      padding: 1rem;
      text-shadow: -1px 2px 0 $muted-color;

      &-js {
          color: #f7df1e;
      }
      &-html {
          color: #f06529;
      }
      &-css {
          color: #2965f1;
      }
      &-react {
          color: #7cc5d9;
      }
      &-database {
          color: #0064a5;
      }
      &-git {
          color: #f34f29;
      }

  }

}