@import "../config";

.footer {
    display: flex;
    flex-direction: column;
    letter-spacing: .15rem;
    padding: 0 0 1rem 0;
    text-align: center;

    .icon {
        color: $accent-color;
        padding: 0 1.5rem;
        @include transition-ease;

        &:hover {
            color: $primary-color;
            text-shadow: -1px 2px 5px set-text-color($primary-color);
            @include transition-ease;
        }
    }
}