@import "../config";

.footer {
    letter-spacing: .1rem;
    text-align: center;

    .morning {
        color: $accent-color-one;
    }

    .afternoon {
        color: $accent-color-two;
    }
    .evening {
        color: $accent-color-three;
    }

}