@import "../config";

.app {
  transform: translate(110%);
  @include transition-ease-long;

  &.open {
    transform: translate(0);
    @include transition-ease-long;
  }
}
    
    &.morning {

      .item1 {
        .logo-name {
          color: $accent-color-one;
  
          .icon {
            color: $primary-color;
            text-shadow: 0 0 10px $accent-color-one;
          }

        }

        .item2 {          
          .social {
            .icon {              
              &:hover {
                  text-shadow: 0 0 8px $accent-color-one;
                  @include transition-ease;
              }

            }

          }

        }

      }

      .item3 {

        .home, .about, .projects, .contact {
          h1, h2 {
            color: $accent-color-one;
          }

        }

        .about, .projects, .contact {
          h2 {
            border-bottom: 1px solid $accent-color-one;
          }

          h3 {
            color: $accent-color-one;
          }

        }

      }

      .item4 {
        footer {
          color: $accent-color-one;
        }

      }

    }

    &.afternoon {

      .item1 {
        .logo-name {
          color: $accent-color-two;
  
          .icon {
            color: $primary-color;
            text-shadow: 0 0 10px $accent-color-two;
          }

        }

        .item2 {          
          .social {
            .icon {              
              &:hover {
                  text-shadow: 0 0 8px $accent-color-two;
                  @include transition-ease;
              }

            }

          }

        }

      }

      .item3 {

        .home, .about, .projects, .contact {
          h1, h2 {
            color: $accent-color-two;
          }

        }

        .about, .projects, .contact {
          h2 {
            border-bottom: 1px solid $accent-color-two;
          }

          h3 {
            color: $accent-color-two;
          }

        }

      }

      .item4 {
        footer {
          color: $accent-color-two;
        }

      }

    }

    &.evening {

      .item1 {
        .logo-name {
          color: $accent-color-three;
  
          .icon {
            color: $primary-color;
            text-shadow: 0 0 10px $accent-color-three;
          }

        }

        .item2 {          
          .social {
            .icon {              
              &:hover {
                  text-shadow: 0 0 8px $accent-color-three;
                  @include transition-ease;
              }

            }

          }

        }

      }

      .item3 {

        .home, .about, .projects, .contact {
          h1, h2 {
            color: $accent-color-three;
          }
        }

        .about, .projects, .contact {
          h2 {
            border-bottom: 1px solid $accent-color-three;
          }

          h3 {
            color: $accent-color-three;
          }

        }

      }

      .item4 {
        footer {
          color: $accent-color-three;
        }

      }

    }