@import "../config";

.projects{
    @include section-default;

    h1{
        @include h1-default;
    }

    h2{
        @include h2-default;
    }

    h3{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        @include h3-default;
    }

    p{
        @include paragraph-default;
    }

    small{
        @include small-default;
    }

    img{
        border: 1px solid set-text-color($primary-color);
        @include image-default;
    }

    span {
        color: $active-color;
    }

    .icon {
        color: set-text-color($primary-color);
        padding: 0 1rem;
        @include transition-ease;

        &:hover {
            color: $primary-color;
            text-shadow: 0 0 8px $active-color;
            @include transition-ease;
        }

    }
}